[submodule "recyminer_store"]
	path = recyminer_store
	url = https://github.com/CandoCorp/recyminer_store.git
[submodule "recyminer_app_driver"]
	path = recyminer_app_driver
	url = https://github.com/CandoCorp/recyminer_app_driver.git
[submodule "recyminer_app_user"]
	path = recyminer_app_user
	url = https://github.com/CandoCorp/recyminer_app_user.git
[submodule "recyminer_web"]
	path = recyminer_web
	url = https://github.com/CandoCorp/recyminer_web.git